$def with(delivery)
$var currentpage = 'delivery'

<div class="row">
<div class="span10 offset1">
<ul>
  <li>Kindle address is <code>@free.kindle.com</code> or <code>@kindle.com</code> (Chinese user can use <code>@free.kindle.cn</code> or <code>@kindle.cn</code>).<br> If use other email address, you won't receive file on your Kindle device or app.</li>
  <li>Kindle user shoud add <code>@skypiea.info</code> into <b>Approved Personal Document E-mail List</b> (Digital Content -> Manage Your Kindle -> Personal Document Settings of your Amazon account) to allow this site send file to Kindle Personal Document Service.</li>
  <li>Delivery timezone is +08:00</li>
</ul>
</div>
</div> <!-- END: description -->

<div class="row">
<div class="span6 offset3">
<form action="delivery" method="post" class="form-horizontal">
  <div class="control-group">
    <label for="delivery_actived" class="control-label">Enable Delivery</label>
    <div class="controls">
      <input id="delivery_actived" name="actived" type="checkbox" $:{'checked="true"' if delivery.actived==1 else ''} value="1"/>
    </div>
  </div>
  <div class="control-group">
    <label for="delivery_address" class="control-label">Kindle Address</label>
    <div class="controls">
      <input id="delivery_address" name="address" type="text" value="$delivery.address"/>
    </div>
  </div>
  <div class="control-group">
    <label for="delivery_hour" class="control-label">Hour of Delivery</label>
    <div class="controls">
      <select id="delivery_hour" name="hour" value="$delivery.hour" class="input-small">
	$for i in xrange(24):
	  <option value="$i" $:{'selected' if i==delivery.hour else ''}>${'%02d:00'%i}</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label for="delivery_bundle" class="control-label">Only at least</label>
    <div class="controls">
      <select id="delivery_bundle" name="bundle" value="$delivery.bundle" class="input-small">
	$for i in xrange(10,60,10):
	  <option value="$i" $:{'selected' if i==delivery.bundle else ''}>${'%02d'%i}</option>
      </select> articles
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Save" />
    </div>
  </div>
</form>
</div>
</div> <!-- END: settings -->
